################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bg/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/BG/BK/.vs/BK
